.env*
*.orig
*.swp
.gitattributes
app/Console/Commands/Inspire.php
app/Events/
app/Exceptions/
app/Http/*
!app/Http/routes.php
app/Jobs/
app/Listeners/
app/Policies/
app/Providers/
app/User.php
artisan
bootstrap/
composer.json
composer.lock
config/
gulpfile.js
package.json
phpunit.xml
public/*
!public/css/
!public/js/
!public/img/
resources/assets/
resources/lang/
resources/views/welcome.blade.php
resources/views/errors/
server.php
storage/
tests/
vendor/
