.env*
*.swp
*~
app/Exceptions/
app/Console/Kernel.php
app/Http/Controllers/Auth/
app/Http/Controllers/Controller.php
app/Http/Middleware/
app/Providers/*
!app/Http/Controllers/Providers/Ec2ServiceProvider.php
app/User.php
artisan
bootstrap/
composer.json
composer.lock
config/*
!config/app.php
database/factories/
database/migrations/2014_10_12_000000_create_users_table.php
database/migrations/2014_10_12_100000_create_password_resets_table.php
package.json
public/404.html
public/50x.html
public/css/app.css
public/favicon.ico
public/index.php
public/js/app.js
public/nginx-logo.png
public/poweredby.png
public/robots.txt
public/css/styles.css
public/js/index.js
resources/assets/
resources/lang/
resources/views/vendor/
resources/views/welcome.blade.php
routes/*
!routes/web.php
server.php
storage/
tests/CreatesApplication.php
tests/TestCase.php
tests/Feature/ExampleTest.php
tests/Unit/ExampleTest.php
vendor/
webpack.mix.js
yarn-error.log
yarn.lock
