.env
*.orig
*.swp
.gitattributes
app/Console/*
app/Console/Commands/*
!app/Console/Commands/Ec2*
app/Events/
app/Exceptions/
app/Http/*
app/Http/Controllers/*
!app/Http/Controllers/ManualsController.php
app/Http/Requests/*
!app/Http/Requests/ManualRequest.php
!app/Http/routes.php
app/Jobs/*
!app/Jobs/Ec2*
app/Listeners/
app/Policies/
app/Providers/*
!app/Providers/Ec2ServiceProvider.php
app/User.php
artisan
bootstrap/
!composer.json
composer.lock
config/*
!config/app.php
!config/aws.php
database/*
!database/migrations/
!database/seeds/
gulpfile.js
package.json
phpunit.xml
!README.md
public/*
!public/css/
!public/js/
nbproject/
readme.md
resources/*
!resources/layouts/
!resources/manual/
server.php
storage/
tests/*
!tests/ArtisanTest.php
vendor/
/nbproject/private/
